p{
    color: #521916;
    /* text-decoration: brown; */
    color: red;
    /* font-family: Georgia; */
    line-height: 30px;
}
h1{
    text-align: center;
    color: red;
    font-family: Georgia;
    /* text-decoration: underline; */
}
h3{
    text-align: center;
    color: black;
    /* font-family: Georgia; */
}
a{
    text-decoration: rgb(255,255,255);
    color: green;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: black;
    
}
span{
    text-decoration: underline;
}