/* h1{
    color: red;
    background-color: black;
}
p{
    color: blue;
    background-color: cornflowerblue;
}
button{
    color: green ;
    background-color: aqua;
}
/* descendent selector*/
/* p{
    color: purple;
    background-color: yellow;
}  */ */
/* div{
    background-color: blue;
} */